In [1]:
import pandas as pd

## Fungsi Bantuan

In [2]:
class filtering:

    def by_wilayah(data, wilayah=None):
        if not wilayah:
            print(f'Filter wilayah harus di isi')
        else:
            display(data[data['Location'] == wilayah])

    def by_periode(data, periode=None):
        if not periode:
            print(f'Filter periode harus di isi')
        else:
            display(data[data['Date'].dt.year == periode])


class checking:

    def valid_max_case(max_case):
        try:
            assert max_case == 38391
        except AssertionError:
            print(f'Maksimal kasus baru perhari: {max_case} ✘')
        else:
            print(f'Maksimal kasus baru perhari: {max_case} ✔')

    def valid_total_avg(total_avg):
        try:
            assert int(total_avg) == 301
        except AssertionError:
            print(f'Rata-rata kasus baru perhari: {total_avg} ✘')
        else:
            print(f'Rata-rata kasus baru perhari: {total_avg} ✔')

## Import data dan filter

In [3]:
data = pd.read_csv('./data/covid_19_indonesia.csv', sep=',')

# convert string periode ke datetime
data['Date'] = pd.to_datetime(data['Date'])

# filter kolom
data = data[['Date', 'Location', 'New Cases', 'New Deaths', 'New Recovered', 'Total Cases', 'Total Deaths', 'Total Recovered']]

# data kasus baru
new_cases = data['New Cases'].to_list()

## Statistik Data

In [4]:
# statistik
print(f'Data preview:')
display(data)

# info
print(f'Data info:')
data.describe()

Data preview:

,Date,Location,New Cases,New Deaths,New Recovered,Total Cases,Total Deaths,Total Recovered
0,2020-01-08,Jawa Timur,9,3,1,9,5,10
1,2020-01-09,Jawa Timur,0,1,23,9,6,33
2,2020-01-10,Jawa Timur,0,1,14,9,7,47
3,2020-01-11,Jawa Timur,0,3,8,9,10,55
4,2020-01-12,Jawa Timur,0,3,1,9,13,56
...,...,...,...,...,...,...,...,...
16278,2021-07-09,Sulawesi Tenggara,124,1,3,12447,252,10412
16279,2021-07-09,Sulawesi Utara,278,9,9,17424,572,15525
16280,2021-07-09,Sumatera Barat,718,10,275,55675,1259,48840
16281,2021-07-09,Sumatera Selatan,341,6,221,31147,1569,27088
16282,2021-07-09,Sumatera Utara,336,5,241,38040,1232,33773

Data info:

,New Cases,New Deaths,New Recovered,Total Cases,Total Deaths,Total Recovered
count,16283.000000,16283.000000,16283.000000,1.628300e+04,16283.000000,1.628300e+04
mean,301.271879,7.919364,248.015783,4.274674e+04,1243.917644,3.689427e+04
std,1330.028199,32.171434,997.784905,1.784936e+05,4944.634529,1.580017e+05
min,0.000000,0.000000,0.000000,1.000000e+00,0.000000,0.000000e+00
25%,6.000000,0.000000,2.000000,7.265000e+02,23.000000,3.860000e+02
50%,39.000000,1.000000,24.000000,5.941000e+03,149.000000,4.484000e+03
75%,127.000000,4.000000,106.000000,1.777450e+04,556.000000,1.430450e+04
max,38391.000000,1040.000000,28975.000000,2.455912e+06,64631.000000,2.023548e+06

## 1. Filter Berdasarkan Wilayah

### Silahkan ubah variabel wilayah didalam fungsi filter_wilayah sehingga bisa di filter berdasarkan input

In [5]:
def filter_wilayah():
    # bikin masukan input
    # disimpan sebagai variabel wilayah   
    
    
    wilayah = input('silahkan dimasukan untuk filter wilayah: ')
    

    filtering.by_wilayah(data, wilayah)

filter_wilayah()

,Date,Location,New Cases,New Deaths,New Recovered,Total Cases,Total Deaths,Total Recovered
0,2020-01-08,Jawa Timur,9,3,1,9,5,10
1,2020-01-09,Jawa Timur,0,1,23,9,6,33
2,2020-01-10,Jawa Timur,0,1,14,9,7,47
3,2020-01-11,Jawa Timur,0,3,8,9,10,55
4,2020-01-12,Jawa Timur,0,3,1,9,13,56
...,...,...,...,...,...,...,...,...
16123,2021-07-05,Jawa Timur,1543,99,915,180268,13025,155156
16157,2021-07-06,Jawa Timur,1808,122,1077,182076,13147,156233
16191,2021-07-07,Jawa Timur,2548,155,1045,184624,13302,157278
16225,2021-07-08,Jawa Timur,2551,165,1291,187175,13467,158569
16259,2021-07-09,Jawa Timur,2530,168,1727,189705,13635,160296

## 2. Filter Berdasarkan Tahun

### Silahkan ubah variabel tahun didalam fungsi filter_wilayah sehingga bisa di filter berdasarkan input

In [6]:
def filter_periode():
    # 1: input diubah menjadi integer untuk kemudian
    #    diproses dalam filter data
    periode = int(input('silahkan masukkan periode tahun:'))

    filtering.by_periode(data, periode)

filter_periode()

,Date,Location,New Cases,New Deaths,New Recovered,Total Cases,Total Deaths,Total Recovered
9823,2021-01-01,Aceh,7,0,10,8753,358,7157
9824,2021-01-01,Bali,101,1,76,17694,517,16221
9825,2021-01-01,Banten,287,12,188,18441,537,15931
9826,2021-01-01,Bengkulu,68,5,98,3671,117,2657
9827,2021-01-01,DKI Jakarta,1956,20,1643,185691,3290,166453
...,...,...,...,...,...,...,...,...
16278,2021-07-09,Sulawesi Tenggara,124,1,3,12447,252,10412
16279,2021-07-09,Sulawesi Utara,278,9,9,17424,572,15525
16280,2021-07-09,Sumatera Barat,718,10,275,55675,1259,48840
16281,2021-07-09,Sumatera Selatan,341,6,221,31147,1569,27088
16282,2021-07-09,Sumatera Utara,336,5,241,38040,1232,33773

## 3. Cari Maksimal Banyaknya Kasus Per Hari

### Silahkan cari maksimal banyaknya kasus baru per hari dengan melakukan looping data

    - variabel items merupakan list data kasus baru
    - variabel max_case merupakan hasil dari pencarian maksimal kasus baru per hari

In [7]:
def find_max_case(items):
    # solusi 1:
    max_case = 0
    
    for case in items:
        if case > max_case:
            max_case = case
    
    # solusi 2:
    max_case = max(items) 
    

    checking.valid_max_case(max_case)


find_max_case(new_cases)

Maksimal kasus baru perhari: 38391 ✔

## 4. Cari Rata-rata Kasus Per Hari

### Silahkan cari rata-rata kasus baru per hari dengan melakukan looping data

    - variabel items merupakan list data kasus baru
    - variabel total_avg merupakan hasil dari perhitungan rata-rata kasus baru per hari

In [8]:
def find_total_avg(items):
    # rumus: n1 + n2 + ... nt / jumlah(n)
    
    # solusi 1:

    total_avg = 0
    sum_items = 0
    count_items = 0

    for case in items: 
        count_items += 1
        sum_items = sum_items + case

    total_avg = sum_items / count_items
    
    checking.valid_total_avg(total_avg)

    # solusi 2:

    sum_items = 0
    for case in items:
        sum_items += case
    
    total_avg = sum_items / len(items)

    checking.valid_total_avg(total_avg)

    # solusi 3:
    index = 0
    sum_items = 0
    len_items = len(items)
    
    while(index < len_items):
        sum_items += items[index]
        index += 1


    total_avg = sum_items / len_items

    checking.valid_total_avg(total_avg)

find_total_avg(new_cases)

Rata-rata kasus baru perhari: 301.27187864644105 ✔
Rata-rata kasus baru perhari: 301.27187864644105 ✔
Rata-rata kasus baru perhari: 301.27187864644105 ✔