In [1]:
import pandas as pd

## Fungsi Bantuan

In [2]:
class filtering:

    def by_wilayah(data, wilayah=None):
        if not wilayah:
            print(f'Filter wilayah harus di isi')
        else:
            display(data[data['Location'] == wilayah])

    def by_periode(data, periode=None):
        if not periode:
            print(f'Filter periode harus di isi')
        else:
            display(data[data['Date'].dt.year == periode])


class checking:

    def valid_max_case(max_case):
        try:
            assert max_case == 38391
        except AssertionError:
            print(f'Maksimal kasus baru perhari: {max_case} ✘')
        else:
            print(f'Maksimal kasus baru perhari: {max_case} ✔')

    def valid_total_avg(total_avg):
        try:
            assert int(total_avg) == 301
        except AssertionError:
            print(f'Rata-rata kasus baru perhari: {total_avg} ✘')
        else:
            print(f'Rata-rata kasus baru perhari: {total_avg} ✔')

## Import data dan filter

In [3]:
data = pd.read_csv('./data/covid_19_indonesia.csv', sep=',')

# convert string periode ke datetime
data['Date'] = pd.to_datetime(data['Date'])

# filter kolom
data = data[['Date', 'Location', 'New Cases', 'New Deaths', 'New Recovered', 'Total Cases', 'Total Deaths', 'Total Recovered']]

# data kasus baru
new_cases = data['New Cases'].to_list()

## Statistik Data

In [4]:
# statistik
print(f'Data preview:')
display(data)

# info
print(f'Data info:')
data.describe()

Data preview:

,Date,Location,New Cases,New Deaths,New Recovered,Total Cases,Total Deaths,Total Recovered
0,2020-01-08,Jawa Timur,9,3,1,9,5,10
1,2020-01-09,Jawa Timur,0,1,23,9,6,33
2,2020-01-10,Jawa Timur,0,1,14,9,7,47
3,2020-01-11,Jawa Timur,0,3,8,9,10,55
4,2020-01-12,Jawa Timur,0,3,1,9,13,56
...,...,...,...,...,...,...,...,...
16278,2021-07-09,Sulawesi Tenggara,124,1,3,12447,252,10412
16279,2021-07-09,Sulawesi Utara,278,9,9,17424,572,15525
16280,2021-07-09,Sumatera Barat,718,10,275,55675,1259,48840
16281,2021-07-09,Sumatera Selatan,341,6,221,31147,1569,27088
16282,2021-07-09,Sumatera Utara,336,5,241,38040,1232,33773

Data info:

,New Cases,New Deaths,New Recovered,Total Cases,Total Deaths,Total Recovered
count,16283.000000,16283.000000,16283.000000,1.628300e+04,16283.000000,1.628300e+04
mean,301.271879,7.919364,248.015783,4.274674e+04,1243.917644,3.689427e+04
std,1330.028199,32.171434,997.784905,1.784936e+05,4944.634529,1.580017e+05
min,0.000000,0.000000,0.000000,1.000000e+00,0.000000,0.000000e+00
25%,6.000000,0.000000,2.000000,7.265000e+02,23.000000,3.860000e+02
50%,39.000000,1.000000,24.000000,5.941000e+03,149.000000,4.484000e+03
75%,127.000000,4.000000,106.000000,1.777450e+04,556.000000,1.430450e+04
max,38391.000000,1040.000000,28975.000000,2.455912e+06,64631.000000,2.023548e+06

## 1. Filter Berdasarkan Wilayah

### Silahkan ubah variabel wilayah didalam fungsi filter_wilayah sehingga bisa di filter berdasarkan input

In [6]:
def filter_wilayah():
    # bikin masukan input
    # disimpan sebagai variabel wilayah
    
    

    wilayah = ''
    

    filtering.by_wilayah(data, wilayah)

filter_wilayah()

Filter wilayah harus di isi

## 2. Filter Berdasarkan Tahun

### Silahkan ubah variabel tahun didalam fungsi filter_wilayah sehingga bisa di filter berdasarkan input

In [6]:
def filter_periode():
    periode = None

    filtering.by_periode(data, periode)

filter_periode()

Filter periode harus di isi

## 3. Cari Maksimal Banyaknya Kasus Per Hari

### Silahkan cari maksimal banyaknya kasus baru per hari dengan melakukan looping data

    - variabel items merupakan list data kasus baru
    - variabel max_case merupakan hasil dari pencarian maksimal kasus baru per hari

In [7]:
def find_max_case(items):
    max_case = 0
    
    checking.valid_max_case(max_case)


find_max_case(new_cases)

Maksimal kasus baru perhari: 0 ✘

## 4. Cari Rata-rata Kasus Per Hari

### Silahkan cari rata-rata kasus baru per hari dengan melakukan looping data

    - variabel items merupakan list data kasus baru
    - variabel total_avg merupakan hasil dari perhitungan rata-rata kasus baru per hari

In [8]:
def find_total_avg(items):
    total_avg = 0
    
    checking.valid_total_avg(total_avg)


find_total_avg(new_cases)

Rata-rata kasus baru perhari: 0 ✘